<div class="flex flex-row justify-between px-6 py-12 lg:px-8 bg-red-900">
  <div class="flex justify-start">
    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Taskflow</h2>
    </div>

    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Workspaces</h2>
    </div>

    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Recent</h2>
    </div>

    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Starred</h2>
    </div>

    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Templates</h2>
    </div>

    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Create</h2>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Search</h2>
    </div>
    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">
        Notification
      </h2>
    </div>
    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">
        Information
      </h2>
    </div>
    <div class="bg-indigo-600 m-5">
      <h2 class="text-2xl/9 font-bold tracking-tight text-white">Account</h2>
    </div>
  </div>
</div>
