<div class="w-[1084px] h-[400px]">
  <header class="border-b-[1px]">
    <div class="flex justify-between items-center min-h-[56px]">
      <div>
        <button
          class="bg-[#DCDFE4] text-[#091E42] p-[0.25rem] rounded hover:bg-[#B3B9C4] font-[600] text-[14px]"
        >
          Todo
          <svg
            class="inline"
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#091E42"
          >
            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
          </svg>
        </button>
      </div>

      <div class="flex gap-4">
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#091E42"
          >
            <path
              d="M720-440v-80h160v80H720Zm48 280-128-96 48-64 128 96-48 64Zm-80-480-48-64 128-96 48 64-128 96ZM200-200v-160h-40q-33 0-56.5-23.5T80-440v-80q0-33 23.5-56.5T160-600h160l200-120v480L320-360h-40v160h-80Zm240-182v-196l-98 58H160v80h182l98 58Zm120 36v-268q27 24 43.5 58.5T620-480q0 41-16.5 75.5T560-346ZM300-480Z"
            />
          </svg>
        </button>
        <span class="w-[1px] h-[20px] bg-[hsla(218,54%,19.6%,0.16)]"></span>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#091E42"
          >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Zm140-360q25 0 42.5-17.5T400-620q0-25-17.5-42.5T340-680q-25 0-42.5 17.5T280-620q0 25 17.5 42.5T340-560Z"
            />
          </svg>
        </button>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#091E42"
          >
            <path
              d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
            />
          </svg>
        </button>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#091E42"
          >
            <path
              d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </header>
  <div class="flex">
    <main
      class="grid grid-cols-[1fr] grid-rows-[0fr_1fr] w-[100%] overflow-y-auto flex-auto"
    >
      <section class="p-[24px_20px_16px]">
        <div class="flex items-center justify-center h-[72px] gap-3">
          <button
            class="bg-white border-1 border-black rounded-full w-4 h-4 flex-shrink-0 self-start mt-[6px]"
          ></button>

          <textarea
            class="text-[#172B4D] w-full text-[28px] resize-none p-[4px_8px] h-full"
            rows="1"
            placeholder="Enter Something"
            >{{ title }}</textarea
          >
        </div>
      </section>
      <section class="bg-yellow-400 min-w-[444px] max-w-[640px]"></section>
    </main>
    <aside
      class="bg-[#F7F8F9] w-[444px] h-auto border-l-1 border-[#091E4224] flex-[1_0_auto]"
    ></aside>
  </div>
</div>
